html{
  border-radius: 30px;
  width: 300px;
}

p{
  /* border: 10px 100px; */
  font-size: 20px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  padding: 1.5%;
  height: 129px;
}
